body {	
	background-color: black;
	color: red;
	background-image: url('bgg.png');
}

h1 {
	font-family: 'LydianBT-Italic';
	font-size: 60px;
	width:max-content;
    padding: 20px;
    border: 7px solid red;
  }

img {
	border: 5px solid red;
}

iframe {
	border: 5px solid red;
}

a {
	font-family: 'LydianBT-Italic';
	color: red;
}

p {
	font-family: 'LydianBT-Italic';
	color: white;
}

#clicker {
	position: absolute; 
	left:90%;
	top: 98%;
  }

#droplink {
	position: absolute; 
	left:0%;
	top: 5%;
  }

#yizzy {
	position: absolute; 
	left: 200px; 
	top: 875px; 
}

#smile {
	position: absolute; 
	left: 50%;
	margin-right: -50%;
    transform: translate(-40%);
	top: 300px; 
}

#once {
	position: absolute; 
	left: 70%; 
	top: 500px; 
}

#thats {
	position: absolute; 
	left: 50%;
	margin-right: -50%;
    transform: translate(-55%);
	top: 600px; 

}

#best {
	position: absolute; 
	left: 55%; 
	top: 850px; 
}

#never {
	position: absolute; 
	left: 100px; 
	top: 450px; 

}

@font-face {
	font-family: 'LydianBT-Italic';
	src: url('../fonts/LydianBT-Italic.ttf') format('truetype'),
		 url('../fonts/LydianBT-Italic.woff') format('woff'),
		 url('../fonts/LydianBT-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }
  
.container {
    position: absolute;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%);
    height: 1000px;
    width: 1500px;
}

#merch {
	height: 300px;
	width: 300px;
}

div.item {
	float: left;
	margin: 30px;
	text-align: center;
}

#twitpic {
	border: 0px;
	height: 300px;
	width: 300px;
}


